.cancel-list {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &__wrapper {
    background-color: #fff;
    border-radius: 24px;
    max-width: 508px;
    padding: 30px 50px;
    position: relative;
  }
  &__close {
    position: absolute;
    right: 35px;
    top: 10px;
    font-size: 20px;
    color: #828282;
  }
  &__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 35px;
  }
  &__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    & button {
      font-size: 16px;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
  &__cancel {
    font-weight: 500;
    margin-right: 25px;
  }
  &__yes {
    border-radius: 12px;
    font-weight: 700;
    padding: 20px 30px;
    background-color: #eb5757;
    background-repeat: 12px;
    color: #fff;
  }
}
