.navbar {
  flex: 0 0 93px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #fff;
  position: fixed;
  width: 93px;
  &__logo {
    height: 42px;
    width: 42px;
    margin: 30px auto;
  }
  &__links {
  }
  &__link {
    display: flex;
    justify-content: center;
    border-left: 6px solid transparent;
    margin-bottom: 30px;
    margin-right: 6px;
    &:hover,
    &:focus {
      border-left: 6px solid #f9a109;
      transition: 0.15s;
    }

    & img {
      display: block;
      padding: 5px 0px;
      width: 35px;
      height: 35px;
    }
  }
  &__cart {
  }
}

.navbar-cart {
  display: flex;
  margin: 30px auto;
  background-color: #f9a109;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &__image {
    width: 50%;
    height: 50%;
  }
  &__count {
    color: #fff;
    background-color: red;
    position: absolute;
    right: 0;
    top: -15px;
    font-size: 20px;
    padding: 3px 5px;
    border-radius: 3px;
    font-weight: 700;
  }
}
