.shopping-list {
  background-color: #fff0de;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  &__wrapper {
    padding: 43px 31px 30px 48px;
    margin-bottom: 130px;
  }
  &__add {
    margin-bottom: 43px;
  }
  &__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  &__section {
  }
  &__footer {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    padding: 34px 40px;
    height: 130px;
    width: 389px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__input {
    border: 2px solid #f9a109;
    border-radius: 12px 0px 0px 12px;
    border-right: none;
    position: relative;
    left: 6px;

    padding: 10px 17px;
    flex: 1;
    height: 100%;
    font-size: 16px;
    &:hover,
    &:focus {
      transition: 0.15s;
      border: 2px solid #da8a00;
      border-right: none;
    }
  }
  &__save {
    background: #f9a109;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 700;
    height: 100%;
    padding: 0 25px;
    border: 2px solid #f9a109;
    position: relative;
    right: 6px;
    color: #fff;
    &:hover,
    &:focus {
      transition: 0.15s;
      background-color: #da8a00;
    }
  }
  &__cancel {
    font-size: 16px;
    font-weight: 700;
    margin-right: 40px;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  &__complete {
    padding: 20px 25px;
    border-radius: 12px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    background-color: #56ccf2;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.add-new {
  background-color: #80485b;
  border-radius: 24px;
  width: 100%;
  display: flex;
  height: 129px;
  padding: 17px;
  position: relative;
  &__image {
    position: absolute;
    bottom: 15px;
  }
  &__main {
    margin-left: 95px;
  }
  &__title {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 13px;
  }
  &__button {
    background-color: #ffffff;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    padding: 11px 30px;
    font-weight: 700;
    font-size: 14px;
    &:hover,
    &:focus {
      background-color: #ffd2c0;
      transition: 0.15s;
    }
  }
}

.shopping-section {
  margin-bottom: 50px;
  &:last-child {
    margin-bottom: 0;
  }
  &__title {
    font-size: 14px;
    color: #828282;
    font-weight: 500;
    margin-bottom: 15px;
  }
  &__list {
  }
  &__item {
  }

  .shopping-item {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__name {
      font-weight: 500;
      font-size: 18px;
      word-break: break-all;
      flex: 1 0;
      margin-right: 5px;
    }
    &__buttons {
      height: 45px;
      &--opened {
        display: flex;
        background-color: #fff;
        border-radius: 12px;
        align-items: center;
      }
    }
    &__delete {
      display: block;
      height: 100%;
      padding: 6px;
      background-color: #f9a109;
      cursor: pointer;
      border-radius: 12px;
      margin-right: 5px;
    }
    &__minus {
      font-size: 40px;
      color: #f9a109;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: transparent;
      margin-right: 5px;
    }
    &__count {
      color: #f9a109;
      padding: 7px 20px;
      font-size: 14px;
      background-color: transparent;
      border: 2px solid #f9a109;
      border-radius: 24px;
      margin: 5px 5px 5px 0px;
      &:hover,
      &:focus {
        background-color: #fff;
        transition: 0.15s;
      }
    }
    &__plus {
      background-color: transparent;
      font-size: 40px;
      color: #f9a109;
      margin-right: 5px;
    }
  }
}
