body {
  font-family: "Quicksand", sans-serif;
}

.page {
  display: flex;
  background-color: #fafafe;
  min-height: 100vh;
  &__main {
    flex: 1;
    display: flex;
    margin-left: 93px;
    justify-content: space-between;
  }
  &__sidebar {
    flex: 0 0 389px;
    right: 0;
  }
}
